<div class = "container">
  <h1>Stupid Coaching</h1>
  <div class="card">
      <span class="communication"><%= @question %></span>
      <span class="signature">-You asked</span>
  </div>
  <div class="card">
      <span class="communication"><strong><%= @answer %></strong></span>
      <span class="signature"><em>-Your coach answered</em></span>
  </div>
  <%=link_to "Ask a new question", ask_path, class: "link_to_ask btn btn-primary"%>
</div>
