<h1>Rails Stupid coaching app</h1>



<form action="/answer" data-turbo="false" method = "get">
  <p>Hello, I am here to coach you. Tell me what is in your mind?:</p>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
